bigwave.config
*.mdf
*.ldf
*ncrunch*

#OS junk files
[Tt]humbs.db
*.DS_Store
 
#Visual Studio files
*.[Oo]bj
*.exe
*.pdb
*.user
*.aps
*.pch
*.vspscc
*.vssscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.[Cc]ache
*.ilk
*.log
*.lib
*.sbr
*.sdf
*.backup.*
ipch/
[Oo]bj/
[Bb]in/
ImageCache/
App_Data/
temp/
Files/
[Dd]ebug*/
[Rr]elease*/
[Nn][Dd]epend[Oo]ut*/
Ankh.NoLoad
_NCrunch_BigWave.master/
_IntelliDebugger/
.vs/
App_Data/
Publish*/
PublishWebAPI*/

#Tooling
_ReSharper*/
*.resharper
[Tt]est[Rr]esult*
 
#Project files
[Bb]uild/
 
#Subversion files
.svn
 
# Office Temp Files
~$*

packages
*.orig
*.tmp